.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.rda
*.RData
*.pdf
*.html
*.aux
*.log
*.docx
*.o
*.so
doc/paper_cache/latex/*
doc/paper_cache/docx/*
doc/paper_files/*
VAST_v*
packageDesc*
settings.txt
doc/compile.R
figs/
temp-*
!mcmc_residuals.rds
doc/appendix-VAST/*
doc/appendix-snow-sdmTMB_files*
doc/appendix-VAST-pp/Index.csv
doc/appendix-VAST-pp/parameter_estimates.txt
mee-id.txt
doc/preprint
doc/preprint2
doc/preprint3
doc/paper-jss/reprex/
doc/paper-jss/reprex-V1
doc/paper-jss/sdmTMB-paper-concordance.tex
doc/paper-jss/reprex-V2/*
*.soc
*.loc
data/ne_10*
doc/jss-accepted-version/tex/Code.zip
doc/jss-accepted-version/tex/Figures.zip
