.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.rda
*.RData
*.pdf
*.html
*.aux
*.log
*.docx
*.o
*.so
doc/paper_cache/latex/*
doc/paper_cache/docx/*
doc/paper_files/*
VAST_v*
packageDesc*
settings.txt
doc/compile.R
figs/
temp-*
